<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" />
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <script th:src="@{/webjars/momentjs/2.15.1/min/moment.min.js}"></script>
    <script th:src="@{/webjars/lodash/4.15.0/lodash.min.js}"></script>
    <script th:src="@{/webjars/handlebars/4.0.5/handlebars.min.js}"></script>

    <link rel="stylesheet" th:href="@{/styles/index.css}" />
    <script th:src="@{/scripts/index.js}"></script>

    <title>Onurbasystem</title>

    <script>
        $(function(){
            MovieDbService.loadGenres();
            registraAcaoBotaoEnter();

            $(".botao-pesquisar").on("click",function(){
                buscaFilmes();
            })
        });

        function registraAcaoBotaoEnter(){
            $(document).keypress(function(e) {
                if(e.which == 13) {buscaFilmes();}
            });
        }

        function buscaFilmes(){
            limpaResultados();
            MovieDbService.getMovies($(".campo-busca").val(),buscaFilmesCallback);
        }

        function limpaResultados(){
            $("tbody tr").remove();
        }

        function buscaFilmesCallback(MovieDbObj){
            let filmes=[];

            for (let x in MovieDbObj.results){
                let o = MovieDbObj.results[x];
                filmes.push(new FilmeFactory(o).getInstace());
            }

            insereFilmes(filmes);
        }

        function insereFilmes(filmes){
            let source   = $("#template").html();
            let template = Handlebars.compile(source);
            let html = template(filmes);

            $("tbody").append(html);
        }
    </script>

    <script id="template" type="text/x-handlebars-template">
        {{#each this}}
        <tr>
            <td class="filme-cartaz"><img src="{{srcImage}}"/></td>
            <td>
                <div>
                    <h3 class="filme-titulo">{{titulo}} ({{anoLancamento}})  <small class="filme-titulo-original">{{tituloOriginal}}</small></h3>
                    <div class="filme-generos">
                        {{#each generos}}
                        <span class="label label-primary">{{this}}</span>
                        {{/each}}
                    </div>
                    <div class="filme-overview lead">{{sinopse}}</div>
                </div>
            </td>
            <td class="acoes">
                <button type="button" class="btn btn-success btn-lg">Adicionar...</button>
            </td>
        </tr>
        {{/each}}
    </script>

</head>
<body>

<div class="container">

    <div class="barra-busca">
        <div class="input-group">
            <input type="text" class="form-control input-lg campo-busca" placeholder="Buscar por..." />
            <span class="input-group-btn">
                <button class="btn btn-default btn-lg botao-pesquisar" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div>
    </div>


    <table class="table filmes">
        <tbody>
        </tbody>
    </table>
</div>

</body>
</html>